@font-face {
  font-family: "DancingScript Bold";
  src: url(/fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}


@font-face {
  font-family: "DancingScript Regular";
  src: url(/fonts/Dancing_Script/static/DancingScript-Regular.ttf) ;
}
